In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
data = pd.read_csv('movie_bd_v5.csv')
max_budget = data.budget.max()
max_budget_film = data[data['budget'] == max_budget]
display(max_budget_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [7]:
data = pd.read_csv('movie_bd_v5.csv')
max_runtime = data.runtime.max()
max_runtime_film = data[data['runtime'] == max_runtime]
display(max_runtime_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '1157. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data = pd.read_csv('movie_bd_v5.csv')
min_runtime = data.runtime.min()
min_runtime_film = data[data['runtime'] == min_runtime]
display(min_runtime_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

In [10]:
answers['3'] = '768. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [11]:
data = pd.read_csv('movie_bd_v5.csv')
mean_runtime = round(data.runtime.mean())
display(mean_runtime)

110

In [12]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [13]:
data = pd.read_csv('movie_bd_v5.csv')
med_runtime = data.runtime.median()
display(med_runtime)

107.0

In [14]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [15]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
max_profit = data.profit.max()
max_profit_film = data[data['profit'] == max_profit]
display(max_profit_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [16]:
answers['6'] = '239. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [17]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
min_profit = data.profit.min()
min_profit_film = data[data['profit'] == min_profit]
display(min_profit_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [18]:
answers['7'] = '1245. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [19]:
data = pd.read_csv('movie_bd_v5.csv')
cash_film = data[data['revenue'] > data['budget']]
display(len(cash_film))

1478

In [20]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [21]:
data = pd.read_csv('movie_bd_v5.csv')
data_film = data[data.release_year == 2008]
max_cash_film = data_film[data_film.revenue == data_film.revenue.max()]
display(max_cash_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008

In [22]:
answers['9'] = '599. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [23]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data_film_2 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
min_cash_film = data_film_2[data_film_2.profit == data_film_2.profit.min()]
display(min_cash_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [24]:
answers['10'] = '1245. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [25]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data = pd.read_csv('movie_bd_v5.csv')
Counter(data.genres.str.cat(sep='|').split('|')).most_common(1)

[('Drama', 782)]

ВАРИАНТ 2

In [26]:
data = pd.read_csv('movie_bd_v5.csv')
top_genres = data['genres'].str.cat(sep = '|')
top_genres = pd.Series(top_genres.split('|'))
top_genres = top_genres.value_counts()
display(top_genres)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

In [27]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [28]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
cash_film_2 = data[(data.profit > 0)]
cash_genres = cash_film_2['genres'].str.cat(sep = '|')
cash_genres = pd.Series(cash_genres.split('|'))
cash_genres = cash_genres.value_counts()
display(cash_genres)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [29]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [30]:
data = pd.read_csv('movie_bd_v5.csv')
director = data.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
display(director)

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 957, dtype: int64

In [31]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [32]:
data = pd.read_csv('movie_bd_v5.csv')
action_film = data[data['genres'].str.contains('Action')] 
director_action_film = action_film['director'].str.cat(sep = '|')
director_action_film = pd.Series(director_action_film.split('|'))
director_action_film = director_action_film.value_counts()
display(director_action_film)

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Ridley Scott          6
Antoine Fuqua         6
                     ..
Tony Gilroy           1
Chris Renaud          1
Ron Underwood         1
James Mather          1
Robert Redford        1
Length: 364, dtype: int64

In [33]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [34]:
data = pd.read_csv('movie_bd_v5.csv')
film_2012 = data[data['release_date'].str.contains('2012')] 
film_2012.loc[:,('cast')] = film_2012.loc[:,('cast')].str.split('|')
actor_2012 = film_2012.explode('cast')
actor_2012 = actor_2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
display(actor_2012)

C:\Users\ST\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [35]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [36]:
data = pd.read_csv('movie_bd_v5.csv')
max_budget = data[data.budget > data.budget.mean()]
max_budget.loc[:,('cast')] = max_budget.loc[:,('cast')].str.split('|')
actor_max_budget = max_budget.explode('cast')
actor_max_budget = actor_max_budget['cast'].value_counts()
display(actor_max_budget)

Matt Damon                18
Adam Sandler              17
Angelina Jolie            16
Samuel L. Jackson         15
Eddie Murphy              15
                          ..
Alessandro Nivola          1
Martin Klebba              1
Anthony Edwards            1
Roger Ashton-Griffiths     1
Cillian Murphy             1
Name: cast, Length: 1505, dtype: int64

In [37]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [38]:
data = pd.read_csv('movie_bd_v5.csv')
nicolas = data[data['cast'].str.contains('Nicolas Cage')] 
nicolas.loc[:,'genres'] = nicolas.loc[:,'genres'].str.split('|')
nicolas_genres = nicolas.explode('genres')
nicolas_genres = nicolas_genres['genres'].value_counts()
display(nicolas_genres)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
War                 1
Romance             1
Horror              1
Name: genres, dtype: int64

In [39]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [40]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
paramount = data[data['production_companies'].str.contains('Paramount Pictures')] 
paramount_min = paramount[paramount.profit == paramount.profit.min()]
display(paramount_min)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,7/19/2002,6.0,2002,-64831034

In [41]:
answers['18'] = '925. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [42]:
data = pd.read_csv('movie_bd_v5.csv')
cash_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
display(cash_year)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [43]:
answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [44]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
warner = data[data['production_companies'].str.contains('Warner Bros')] 
warner_cash_year = warner.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
display(warner_cash_year)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [45]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [62]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
month_sum = data['month'].value_counts(ascending=False)
display(month_sum)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [47]:
answers['21'] = '9. September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [48]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.loc[(data.month == '6') | (data.month == '7') | (data.month == '8')]
month_sum = data.groupby(['month'])['original_title'].count()
display(month_sum.sum())

450

In [49]:
answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [50]:
data = pd.read_csv('movie_bd_v5.csv')
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data = data.loc[(data.month == '1') | (data.month == '2') | (data.month == '12')]
director = data.groupby(['director'])['original_title'].count().sort_values(ascending=False)
display(director)

director
Peter Jackson                          7
Steven Soderbergh                      6
Clint Eastwood                         6
Nancy Meyers                           4
Adam Shankman                          4
                                      ..
Matt Bettinelli-Olpin|Tyler Gillett    1
Matt Reeves                            1
Matthew O'Callaghan                    1
Matthew Vaughn                         1
Aaron Seltzer|Jason Friedberg          1
Name: original_title, Length: 332, dtype: int64

In [51]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [52]:
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
data['name_film'] = data['original_title'].apply(lambda x: len(x))
production = data.groupby(['production_companies'])['name_film'].max().sort_values(ascending=False)
display(production)

production_companies
Four By Two Productions                   83
Twentieth Century Fox Film Corporation    83
Walden Media                              62
Walt Disney                               62
Jim Henson Company, The                   59
                                          ..
Everest Entertainment                      3
Berlanti Productions                       3
XM2 Productions                            2
Global Entertainment Group                 2
Ixtlan Productions                         2
Name: name_film, Length: 1771, dtype: int64

In [53]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [54]:
data = pd.read_csv('movie_bd_v5.csv')
data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
data = data.explode('production_companies')
data['max_overview'] = data['overview'].apply(lambda x: len(x))
production = data.groupby(['production_companies'])['max_overview'].max().sort_values(ascending=False)
display(production)

production_companies
Midnight Picture Show                    1000
Lakeshore Entertainment                  1000
GreeneStreet Films                       1000
Lions Gate Films                         1000
Room 9 Entertainment                      964
                                         ...
Projection Pictures                        74
Henceforth                                 74
Phantom Four                               72
Empire Pictures                            62
Motion Picture Corporation of America      59
Name: max_overview, Length: 1771, dtype: int64

In [55]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [56]:
data = pd.read_csv('movie_bd_v5.csv')
rate_film = data['vote_average'].quantile(0.99)
top_rate_film = data[data['vote_average'] > rate_film]
display(top_rate_film)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000

In [57]:
answers['26'] = '9. Inside Out (tt2096673),599. The Dark Knight,1191 (tt0468569). 12 Years a Slave (tt2024544)'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [58]:
import collections
data = pd.read_csv('movie_bd_v5.csv')
data['cast'] = data['cast'].apply(lambda x:x.split('|'))
from itertools import combinations
data['pairs'] = data['cast'].apply(lambda a: list(combinations(a, 2)))
data = data.explode('pairs')
collections.Counter(data['pairs']).most_common(1)

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

In [59]:
answers['27'] = 'Daniel Radcliffe, Rupert Grint'

# Submission

In [60]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': '925. K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': '9. September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': '9. Inside Out (tt2096673),599. The Dark Knight,1191 (tt0468569). 12 Years a Slave (tt2024544)',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [61]:
# и убедиться что ни чего не пропустил)
len(answers)

27